.App {
  height: 100%;

  &__main {
    min-height: 100%;
    display: flex;
    margin-left: 210px;
  }

  &__accounts {
    padding-top: 50px;
    padding-left: 33px;
    padding-right: 56px;
  }

  &__main-info {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
}